<h1>Register a New Account!</h1>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :fname %>
  <br>
  Last Name: <%= f.text_field :lname %>
  <br>
  Email: <%= f.text_field :email %>
  <br>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <br>
  <br>
  <%= f.submit "Submit" %>

<% end %>